<% if (alert != nil) %>
	<div class="alert alert-danger text-center col-sm-4 col-sm-offset-4">
		<!-- <div class="container"> -->
			<%= alert %>
		</div>
	<!-- </div> -->
<% end %>

<% if (notice != nil) %>
	<div class="alert alert-info text-center col-sm-4 col-sm-offset-4">
		<!-- <div class="container"> -->
			<%= notice %>
		</div>
	<!-- </div> -->
<% end %>