<div class="container">
<h1>About <small>easyMeetings	</small></h1>

<p>Small web application, which allow to schedule some meeting within different timezones and raise and free video call with everyone.
</p>
</div>
